<!-- <form class="contact-form" (submit)="sendEmail($event)">
    <label>Name</label>
    <input type="text" name="user_name">
    <label>Email</label>
    <input type="email" name="user_email">
    <label>Message</label>
    <textarea name="message"></textarea>
    <input type="submit" value="Send">
</form> -->

<header class="top-area">
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 78px;">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="logo">
                            <a href="index.html">
                          S2D<span>Travel</span>
                      </a>
                        </div>
                        <!-- /.logo-->
                    </div>
                    <!-- /.col-->

                    <div class="col-sm-10">

                        <div class="main-menu">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <i class="fa fa-bars"></i>
                          </button>
                                <!-- / button-->
                            </div>
                            <!-- /.navbar-header-->
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a><i class="fa fa-envelope"> sd2travels@gmail.com</i></a></li>
                                    <li><a><i class="fa fa-phone-square"> +91 9876543210</i></a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="smooth-menu active">
                                        <a href="#home">home</a>
                                    </li>
                                    <li class="smooth-menu"><a href="#gallery">Destination</a></li>
                                    <!-- <li class="smooth-menu"><a href="#pack">Packages </a></li> -->
                                    <li class="smooth-menu nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Packages
                                        </a>
                                        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                            <li style="padding: 0.2%;"><a href="#pack" style="color:black;margin-left: 15%;">Domestic </a></li>
                                            <li style="padding: 0.2%;"><a href="#pack1" style="color:black;margin-left: 15%;">International </a></li>

                                        </div>
                                    </li>
                                    <!--   <li class="smooth-menu"><a href="#spo">Special Offers</a></li> -->
                                    <!-- <li class="smooth-menu"><a href="#blog">blog</a></li>
                                    <li class="smooth-menu"><a href="#subs">subscription</a></li> -->
                                    <!-- <li>
                                        <button class="book-btn">book now
                                  </button>
                                    </li> -->
                                    <!--/.project-btn-->
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.main-menu-->
                    </div>
                    <!-- /.col-->
                </div>
                <!-- /.row -->
                <div class="home-border"></div>
                <!-- /.home-border-->
            </div>
            <!-- /.container-->
        </div>
    </div>
    <!-- /.header-area -->

</header>