<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="wrapper">
    <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
      your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!-- main-menu Start -->
    <app-header></app-header>
    <!-- /.top-area-->
    <!-- main-menu End -->


    <!--about-us start -->
    <app-home></app-home>
    <!--/.about-us-->
    <!--about-us end -->

    


    <!--galley start-->
    <app-destination></app-destination>

    <!--/.gallery-->
    <!--gallery end-->


    <!--packages start-->
    <app-packages></app-packages>
    <!--/.packages-->
    <!--packages end-->


    <!-- footer-copyright start -->
    <app-footer></app-footer>
    <!-- /.footer-copyright-->
    <!-- footer-copyright end -->









</div>


<router-outlet></router-outlet>