<style>
    .nav-tabs>li.active>a {
        color: #555;
        cursor: default;
        background-color: #fff;
        /* border: 1px solid #ddd; */
        border-bottom-color: transparent;
    }
</style>
<section id="home" class="about-us" style="height: 60%;background-image: url('../../assets/images/logo/s2dorg.png');background-size: cover;">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="single-about-us ">
                        <div class="about-us-txt " style="margin-top: 5%">
                            <marquee>
                                <h2 class="animated fadeInUp " style="opacity: 0; font-size:40px;">
                                    Explore the Beauty of the Beautiful World
                                </h2>
                            </marquee>
                            <!--/.about-btn-->
                        </div>

                        <!--/.about-us-txt-->
                    </div>
                    <div class="about-btn ">
                        <button class="about-view animated fadeInDown " style="float:right;opacity: 0; margin-top: 40%;margin-left: 29%">
                          <a  href="#gallery " style="font-size: 16px;color:rgb(53, 4, 167) ">explore now</a>
                      </button>
                    </div>
                    <!--/.single-about-us-->
                </div>
                <!--/.col-->

                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <!--/.about-us-content-->
    </div>
    <!--/.container-->

</section>

<section class="travel-box" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-travel-boxes">
                    <div id="desc-tabs" class="desc-tabs">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#cars" aria-controls="cars" role="tab" data-toggle="tab">
                                    <i class="fa fa-car"></i> Car
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="#tours" aria-controls="tours" role="tab" data-toggle="tab">
                                    <i class="fa fa-tree"></i> Tours
                                </a>
                            </li>

                            <!-- <li role="presentation">
                                <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">
                                    <i class="fa fa-building"></i> hotels
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">
                                    <i class="fa fa-plane"></i> flights
                                </a>
                            </li> -->
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active fade in" id="cars">
                                <div class="tab-para">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="single-tab-select-box">
                                                    <h2>Name</h2>
                                                    <div class="travel-check-number" style="margin-bottom: 20px;">
                                                        <input type="text" class="form-control" name="name" [(ngModel)]="carbook.name" placeholder="Enter your name">
                                                    </div>
                                                    <!-- <div class="single-tab-select-box"> -->
                                                    <h2>Email</h2>
                                                    <div class="travel-check-number" style="margin-bottom: 20px;">
                                                        <input type="text" class="form-control" name="email" [(ngModel)]="carbook.email" placeholder="Enter your email">
                                                    </div>
                                                    <h2>Contact Number</h2>
                                                    <div class="travel-check-number" style="margin-bottom:20px;">
                                                        <input type="text" class="form-control" name="number" [(ngModel)]="carbook.contact" placeholder="Enter your contact number">

                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="col-sm-12 single-tab-select-box">
                                                    <h2>From</h2>
                                                    <div class="travel-select-icon">
                                                        <select class="form-control " name="start" [(ngModel)]="carbook.start" placeholder="From">

                                                            <option value=null>Enter your location</option>

                                                            <option value="{{city.name}}" *ngFor="let city of cityfrom; index as i;">{{city.name}}</option>

                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>Start Date</h2>
                                                    <div class="travel-check-icon">
                                                        <input type="text" name="checkin" class="form-control" data-toggle="datepicker" [(ngModel)]="carbook.checkin">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>End Date</h2>
                                                    <div class=" travel-check-icon">
                                                        <form action="#">
                                                            <input type="text" name="checkout" class="form-control" data-toggle="datepicker" [(ngModel)]="carbook.checkout">
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="col-sm-12 single-tab-select-box">
                                                    <h2>To</h2>
                                                    <div class="travel-select-icon">
                                                        <select class="form-control " name="end" [(ngModel)]="carbook.end" placeholder="To">

                                                            <option value=null>Enter your destination location</option>

                                                            <option value="{{city.name}}" *ngFor="let city of cityfrom; index as i;">{{city.name}}</option>

                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>Childs</h2>
                                                    <div class="travel-check-number">
                                                        <input class="form-control" type="number" name="child" [(ngModel)]="carbook.child" placeholder="Number of childs">

                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>Adults</h2>
                                                    <div class="travel-check-number">
                                                        <input class="form-control" type="number" name="adult" [(ngModel)]="carbook.adult" placeholder="Number of adults">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 single-tab-select-box" style="padding:0;">
                                                    <div class="travel-check-number about-btn travel-mrt-0 pull-right" style="margin-top: 15%;">
                                                        <button class="about-view travel-btn" (click)="submitbooking()">
                                                              Submit	
                                                          </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </form>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane  fade in" id="tours">
                                <div class="tab-para">
                                    <div class="row">
                                        <form>

                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="single-tab-select-box">
                                                    <h2>Package Type</h2>
                                                    <div class="travel-select-icon">
                                                        <select class="form-control " name="package" [(ngModel)]="tour.package" (ngModelChange)="packagefn(tour.package)" placeholder="From">

                                                            <option value=null>Select your package</option>

                                                            <option value="domestic">Domestic</option>

                                                            <option value="international">International</option>
                                                            <option value="custom">Custom</option>

                                                      </select>
                                                    </div>
                                                    <h2>Name</h2>
                                                    <div class="travel-check-number" style="margin-bottom: 20px;">
                                                        <input type="text" class="form-control" name="name" [(ngModel)]="tour.name" placeholder="Enter your name">
                                                    </div>
                                                    <h2>Email</h2>
                                                    <div class="travel-check-number" style="margin-bottom: 20px;">
                                                        <input type="text" class="form-control" name="email" [(ngModel)]="tour.email" placeholder="ENter your email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="col-sm-12 single-tab-select-box" *ngIf="tour.package=='custom'">
                                                    <h2>From</h2>
                                                    <div class="travel-check-number" style="margin-bottom: 20px;">
                                                        <input type="text" class="form-control" name="start" [(ngModel)]="tour.start" placeholder="Enter your Location">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 single-tab-select-box" *ngIf="tour.package!='custom'">
                                                    <h2>From</h2>
                                                    <div class="travel-select-icon">
                                                        <select class="form-control" name="start" [(ngModel)]="tour.start" placeholder="From">

                                                            <option value=null>Enter your location</option>

                                                            <option value="{{city.name}}" *ngFor="let city of cityfrom; index as i;">{{city.name}}</option>
                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>Start Date</h2>
                                                    <div class="travel-check-icon">
                                                        <input type="text" name="checkin" class="form-control" data-toggle="datepicker" [(ngModel)]="tour.checkin">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>End Date</h2>
                                                    <div class=" travel-check-icon">
                                                        <form action="#">
                                                            <input type="text" name="checkout" class="form-control" data-toggle="datepicker" [(ngModel)]="tour.checkout">
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 single-tab-select-box">
                                                    <h2>Contact Number</h2>
                                                    <div class="travel-check-number" style="margin-bottom: 20px;">
                                                        <input type="text" class="form-control" name="contact" [(ngModel)]="tour.contact" placeholder="Enter your contact number">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="col-sm-12 single-tab-select-box" *ngIf="tour.package=='custom'">
                                                    <h2>To</h2>
                                                    <div class="travel-check-number" style="margin-bottom: 20px;">
                                                        <input type="text" class="form-control" name="end" [(ngModel)]="tour.end" placeholder="Enter your destination Location">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 single-tab-select-box" *ngIf="tour.package!='custom'">
                                                    <h2>To</h2>
                                                    <div class="travel-select-icon">
                                                        <select class="form-control " name="end" [(ngModel)]="tour.end" placeholder="To">

                                                            <option value=null>Enter your destination location</option>

                                                            <option value="{{city.name}}" *ngFor="let city of cityto; index as i;">{{city.name}}</option>

                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>Childs</h2>
                                                    <div class="travel-check-number">
                                                        <input class="form-control" type="number" name="child" [(ngModel)]="tour.child" placeholder="Number of childs">

                                                    </div>
                                                </div>
                                                <div class="col-sm-6 single-tab-select-box">
                                                    <h2>Adults</h2>
                                                    <div class="travel-check-number">
                                                        <input class="form-control" type="number" name="adult" [(ngModel)]="tour.adult" placeholder="Number of adults">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 single-tab-select-box" style="padding:0;">
                                                    <div class="travel-check-number about-btn travel-mrt-0 pull-right" style="margin-top: 15%;">
                                                        <button class="about-view travel-btn" (click)="submitbooking()">
                                                              Submit	
                                                          </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>



                                </div>

                            </div>

                            <!-- <div role="tabpanel" class="tab-pane fade in" id="hotels">
                                <div class="tab-para">

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="single-tab-select-box">

                                                <h2>destination</h2>

                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">enter your destination country</option>

                                                            <option value="turkey">turkey</option>

                                                            <option value="russia">russia</option>
                                                            <option value="egept">egypt</option>

                                                      </select>
                                                   
                                                </div>

                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">enter your destination location</option>

                                                            <option value="istambul">istambul</option>

                                                            <option value="mosko">mosko</option>
                                                            <option value="cairo">cairo</option>

                                                      </select>
                                                   
                                                </div>
                                                

                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>check in</h2>
                                                <div class="travel-check-icon">
                                                    <form action="#">
                                                        <input type="text" name="check_in" class="form-control" data-toggle="datepicker" placeholder="12 -01 - 2017 ">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>check out</h2>
                                                <div class="travel-check-icon">
                                                    <form action="#">
                                                        <input type="text" name="check_out" class="form-control" data-toggle="datepicker" placeholder="22 -01 - 2017 ">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-md-1 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>duration</h2>
                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">5</option>

                                                            <option value="10">10</option>

                                                            <option value="15">15</option>
                                                            <option value="20">20</option>

                                                      </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-md-1 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>members</h2>
                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">1</option>

                                                            <option value="2">2</option>

                                                            <option value="4">4</option>
                                                            <option value="8">8</option>

                                                      </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5"></div>
                                        <div class="clo-sm-7">
                                            <div class="about-btn travel-mrt-0 pull-right">
                                                <button class="about-view travel-btn">
                                                      search	
                                                  </button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div> -->

                            <div role="tabpanel" class="tab-pane fade in" id="flights">
                                <div class="tab-para">
                                    <div class="trip-circle">
                                        <div class="single-trip-circle">
                                            <input type="radio" id="radio01" name="radio">
                                            <label for="radio01">
                                                    <span class="round-boarder">
                                                        <span class="round-boarder1"></span>
                                                    </span>round trip
                                                </label>
                                        </div>
                                        <!--/.single-trip-circle-->
                                        <div class="single-trip-circle">
                                            <input type="radio" id="radio02" name="radio">
                                            <label for="radio02">
                                                    <span class="round-boarder">
                                                        <span class="round-boarder1"></span>
                                                    </span>on way
                                                </label>
                                        </div>
                                        <!--/.single-trip-circle-->
                                    </div>
                                    <!--/.trip-circle-->
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="single-tab-select-box">

                                                <h2>from</h2>

                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">enter your location</option><!-- /.option-->

                                                            <option value="turkey">turkey</option><!-- /.option-->

                                                            <option value="russia">russia</option><!-- /.option-->
                                                            <option value="egept">egypt</option><!-- /.option-->

                                                      </select>
                                                    <!-- /.select-->
                                                </div>
                                                <!-- /.travel-select-icon -->
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                        <div class="col-lg-2 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>departure</h2>
                                                <div class="travel-check-icon">
                                                    <form action="#">
                                                        <input type="text" name="departure" class="form-control" data-toggle="datepicker" placeholder="12 -01 - 2017 ">
                                                    </form>
                                                </div>
                                                <!-- /.travel-check-icon -->
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                        <div class="col-lg-2 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>return</h2>
                                                <div class="travel-check-icon">
                                                    <form action="#">
                                                        <input type="text" name="return" class="form-control" data-toggle="datepicker" placeholder="22 -01 - 2017 ">
                                                    </form>
                                                </div>
                                                <!-- /.travel-check-icon -->
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                        <div class="col-lg-2 col-md-1 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>adults</h2>
                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">5</option><!-- /.option-->

                                                            <option value="10">10</option><!-- /.option-->

                                                            <option value="15">15</option><!-- /.option-->
                                                            <option value="20">20</option><!-- /.option-->

                                                      </select>
                                                    <!-- /.select-->
                                                </div>
                                                <!-- /.travel-select-icon -->
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                        <div class="col-lg-2 col-md-1 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>childs</h2>
                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">1</option><!-- /.option-->

                                                            <option value="2">2</option><!-- /.option-->

                                                            <option value="4">4</option><!-- /.option-->
                                                            <option value="8">8</option><!-- /.option-->

                                                      </select>
                                                    <!-- /.select-->
                                                </div>
                                                <!-- /.travel-select-icon -->
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="single-tab-select-box">

                                                <h2>to</h2>

                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">enter your destination location</option><!-- /.option-->

                                                            <option value="istambul">istambul</option><!-- /.option-->

                                                            <option value="mosko">mosko</option><!-- /.option-->
                                                            <option value="cairo">cairo</option><!-- /.option-->

                                                      </select>
                                                    <!-- /.select-->
                                                </div>
                                                <!-- /.travel-select-icon -->

                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->
                                        <div class="col-lg-3 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">

                                                <h2>class</h2>
                                                <div class="travel-select-icon">
                                                    <select class="form-control ">

                                                            <option value="default">enter class</option><!-- /.option-->

                                                            <option value="A">A</option><!-- /.option-->

                                                            <option value="B">B</option><!-- /.option-->
                                                            <option value="C">C</option><!-- /.option-->

                                                      </select>
                                                    <!-- /.select-->
                                                </div>
                                                <!-- /.travel-select-icon -->
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->
                                        <div class="clo-sm-5">
                                            <div class="about-btn pull-right">
                                                <button class="about-view travel-btn">
                                                      search	
                                                  </button>
                                                <!--/.travel-btn-->
                                            </div>
                                            <!--/.about-btn-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                </div>

                            </div>
                            <!--/.tabpannel-->

                        </div>
                        <!--/.tab content-->
                    </div>
                    <!--/.desc-tabs-->
                </div>
                <!--/.single-travel-box-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->

</section>

<section id="service " class="service ">
    <div class="container ">

        <div class="service-counter text-center ">
            <div class="row " style="font-size: 16px;">
                <p>
                    <b>S2D(Source2Destination)</b> We are home based travel agents; we are providing best and satisfied services to our valuable customers. S2D provides a huge range of holiday packages across the world. We will make your Domestic and
                    International travel safer and more convenient.
                </p>
                <p>For International travel, we take care of Visa, transport, SIM cards, Forex card and currency, Hotel and Meals. We are always available to assist your queries.
                </p>
            </div>

            <!-- <div class="col-md-4 col-sm-4 ">
                <div class="single-service-box ">
                    <div class="service-img ">
                        <img src="./assets/images/service/s1.png " alt="service-icon ">
                    </div>
                    <div class="service-content ">
                        <h2>
                            <a href="# ">
                              amazing tour packages
                              </a>
                        </h2>
                        <p>Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 ">
                <div class="single-service-box ">
                    <div class="service-img ">
                        <img src="./assets/images/service/s2.png " alt="service-icon ">
                    </div>
                    <div class="service-content ">
                        <h2>
                            <a href="# ">
                                  book top class hotel
                              </a>
                        </h2>
                        <p>Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 ">
                <div class="single-service-box ">
                    <div class="statistics-img ">
                        <img src="./assets/images/service/s3.png " alt="service-icon ">
                    </div>
                    <div class="service-content ">

                        <h2>
                            <a href="# ">
                                  online flight booking
                              </a>
                        </h2>
                        <p>Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.</p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

</section>